body{background-color: #f0f0f0;}

.maincvbody{
    max-width: 1000px;
    width: 95%;
    background-color: #fff;
    padding: 30px 40px;
    box-shadow: 1px 2px 30px #999;
    margin: 30px auto;
    border-radius: 10px;
}
